@require '../../index'

div.List
    flex 1 0 0rem
    flex-direction column
    overflow auto
    position relative

    &.Fixed

        .data.column, .top.shadow, .bottom.shadow
            position absolute
            width 100%

        .top.shadow, .bottom.shadow
            flex 0 0 .1rem
            box-shadow 0rem 0rem .5rem rgb(175,175,175)
            background rgba(200,200,200,.5)

        .sizer
            flex 0 0 auto
