@require '../../index'

div.List
    flex 1 0 0rem
    flex-direction column
    overflow auto
    position relative

    &.Fixed
        .data.column
            position absolute
            width 100%

        .sizer
            flex 0 0 auto
