// -----   COLOR PALLETTE   -----
_faded(alpha = .5)
    rgba(0,0,0,alpha)
$active = rgb(0, 120, 255)
$current = rgba(0, 120, 255, .5)
$inactive = _faded()
$light = rgb(245,245,245)
$gray = darkgray
$completed = rgb(50,200,50)

// shadows
$deepShadow = 0 0 50px 0px #2d2d2d
$shadow = 0 .1rem 1rem #515151
$shadowAlt = 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 1px rgba(0, 0, 0, 0.09)

// Backgrounds
$primaryBG = rgb(255,255,255)
$lightBackground = rgb(245,245,245)

// text
$darkText = rgba(0,0,0,.87)
$darkTextSecondary = rgba(0,0,0,.54)
$darkTextDisabled = rgba(0,0,0,.38)
$darkDividers = rgba(0,0,0,.12)

$lightText = rgb(255,255,255)
$lightTextSecondary = rgba(255,255,255,.7)
$lightTextDisabled = rgba(255,255,255,.5)
$lightDividers = rgba(255,255,255,.12)

// icons
$darkIcon = rgba(0,0,0,.54)
$darkIconInactive = rgba(0,0,0,.38)

$lightIcon = rgb(255,255,255)
$lightIconDisabled = rgba(255,255,255,.5)

// colored items
$listAccent = rgb(0, 120, 255)
$hourDivider = _faded(.3)
$dateDay = linear-gradient(to bottom, $primaryBG 0%, $primaryBG 75%, transparent 100%)
$star = rgb(241,196,15)

// inputs
$borderColor = rgba(0,0,0,.12)
$boxShadow = 0 1px 6px rgba(0, 0, 0, 0.2)
$hoverBorder = rgba(0, 120, 255, .75)
$hoverShadow = rgba(0, 120, 255, .75)
$hoverBackground = rgb(237,247,255)
$selectedBackground = $hoverBackground * .97
