@require 'index'

// RESET
html, body
    margin 0
    padding 0
    cursor default
    -webkit-user-select none
    user-select none
html
    font-size 10px
body
    font-size 1.6rem


// STYLES
.faded
    opacity .5
.invisible
    opacity 0
.hidden
    display none
.inactive, .prior, .disabled
    color $inactive
.current
    color $current
.active
    color $active
.light
    color $light


// GLOBALS
body *
    display flex
    box-sizing border-box

////////// UI //////////
.column
    flex-direction column

.fill
    flex-grow 1

.Button
    height 3.6rem
    min-width: 6.4rem
    padding .8rem 1.6rem
    border-radius .2rem
    font-size 1.4rem
    font-family 'Roboto medium', 'Roboto', sans-serif
    align-items center
    color $darkText
    cursor pointer
    &:not(.disabled)
        &:focus, &:hover
            background rgba(0,0,0,.12)
        &:active
            background rgba(153, 153, 153, .4)
        &.light
            color $lightText
            &:focus, &:hover
                background rgba(255,255,255,.12)
            &:active
                background rgba(204, 204, 204,.25)
    &.disabled
        color $darkTextDisabled
        cursor default
        &.light
            color $lightTextDisabled


.Accordian
    flex-direction column
    width 35rem
    max-width 100%


.Icon
    cursor pointer
    transition opacity 300ms ease-in-out
    i.material-icons
        display flex
        align-items center
    &.invisible
        cursor default
        cursor inherit

.TextArea
    position relative
    textarea, input
        border 1px solid $borderColor
        padding .5rem
        border-radius .3rem
        transition border-color 400ms, box-shadow 400ms
        &:hover, &:focus
            border-color $hoverBorder
            transition border-color 900ms 100ms, box-shadow 400ms
    .spacer
        z-index -1
        position absolute
        white-space pre-wrap
        padding .5rem
        border 1px solid transparent

div.Text
    padding .5rem 1rem
    border 1px solid transparent
    border-radius .3rem
input.Text
    padding .5rem 1rem
    border 1px solid $borderColor
    border-radius .3rem
    transition border-color 400ms, box-shadow 400ms
    &:hover, &:focus
        border-color $hoverBorder
        transition border-color 900ms 100ms, box-shadow 400ms


/////////////////////////////   COMPONENTS   ////////////////////////////////

//////////   NAMED ELEMENTS   //////////
main#app_container
    width 100vw
    height 100vh
    flex-direction column
    overflow hidden
    & > section
        flex 1
        flex-direction column
        & > div
            flex 1
            flex-direction column

div#dropNav div.Icon
    padding 0 1.6rem

div#calendar_body
    display block
    flex 1 1 100%
    overflow-x hidden
    overflow-y auto
    overflow-y overlay
    position relative


//////////   COMPLEX   //////////
header
    flex 0 0 auto
    overflow-x hidden
    &.calendar
        z-index 50
        background-color $primaryBG
        box-shadow 0 .1rem 1rem #515151
        nav span
            border-radius .8rem
            padding .3rem .8rem .1rem
            cursor pointer
            &.selected
                background #f4f4f4
                box-shadow inset .1rem .1rem .3rem #666
                transition all 200ms ease-in-out


section.hour-divider
    flex-grow 1
    .hours
        font-size 1.2rem
        margin-top .4rem
        span
            height 6rem
            justify-content center
    .events
        margin-top 1rem
        border-top .1rem solid $hourDivider
        position relative
        svg
            z-index 10
            position absolute
            left -0.4rem
            fill $active
            stroke $active
        hr
            margin 0
            margin-top 2.8rem
            border-color transparent
            border-bottom .1rem dashed $hourDivider
            &:nth-child(even)
                border-style solid



//////////////////////////////     SECTIONS     ////////////////////////////////
div.CalendarSection
    .Schedule.view
        flex-direction column
        width 100%
        .month
            height 8rem
            justify-content center
            align-items center
            font-size 3.2rem
        .day
            margin .8rem 0
        .date
            flex-direction column
            height 6rem
            width 5rem
            font-size 2.4rem
            align-items center
            background $dateDay
            cursor pointer
            &>div:first-child
              font-size 1rem
        .tasks
            flex-direction column
            flex 1 1 auto
        .task
            padding .4rem .8rem
            border-radius .5rem
            margin .4rem 1.6rem .4rem 0
            font-family -apple-system,".SFNSText-Regular","San Francisco",Roboto,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif
            font-size 1.4rem
            color white
            cursor pointer

    .Day.view
        z-index 1
        position absolute
        width 100%
        .date
            position fixed
            left 0
            height 7rem
            width 5rem
            padding-top 1rem
            font-size 2.4rem
            flex-direction column
            align-items center
            background $dateDay
            &>div:first-child
                font-size 1rem
        .eventColumn
            position relative
            flex-direction column
            height 144rem
            width 100%
            padding-left 4.8rem
            margin-top 1rem
            border-top .1rem solid transparent
            .task
                position absolute
                width 100%
                overflow hidden
                padding .1rem
                transition all 500ms ease-in-out
                cursor pointer
                &:hover
                    max-height 36rem !important

    .Week.view
        z-index 1
        position absolute
        flex-direction column
        width 100%
        .dateBar
            z-index 1
            position fixed
            height 6rem
            padding-left 4.8rem
            width 100%
            align-items center
        .date
            flex 0 1 (100%/7)
            font-size 2.4rem
            flex-direction column
            align-items center
            cursor pointer
            &>div:first-child
              font-size 1rem
        .weekEvents
            height 144rem
            padding-left 4.8rem
            margin-top 1rem
            border-top .1rem solid transparent
            .eventColumn
                position relative
                flex-direction column
                width (100%/7)
                border-right .1rem solid $hourDivider
                &:first-of-type
                    border-left .1rem solid $hourDivider
                .task
                    position absolute
                    font-size 1.3rem
                    width 100%
                    overflow hidden
                    padding .1rem
                    transition all 500ms ease-in-out
                    cursor pointer
                    &:hover
                        max-height 36rem !important

    .Month.view
        flex-direction column
        width 100%
        .weekday.title span, .day
            width (100%/7)
        .weekday.title.row
            padding .8rem 0
            span
                justify-content center
        .week
            flex 1 1 0
        .day
            padding .3rem
            .date
                align-self center
            .task
                height 1rem
                margin .1rem 0
                border-radius .8rem
                cursor pointer


div.ListSection

    header.list
        flex-direction column
        & > div.row
            height 6rem
            div.Icon
                flex 0 1 4.8rem
                align-items center
                justify-content center
                &.check_circle
                    color $completed
        div.default.row
            color $light
            div.title
                flex 1 0 0px
                align-self center
                align-items baseline
                font-size 3.2rem
                span
                    margin-left 1rem
                    border-bottom 1px solid transparent
                    &:first-of-type
                        margin-left 2.4rem
                    &:last-of-type
                        font-size 2.2rem
                    &.clickable
                        cursor pointer
                        &:hover
                            border-bottom 1px solid white

        div.icons.row
            justify-content space-between
            div.icons
                flex 1
                justify-content center

    nav.tab.row
        overflow hidden
        padding-top .25rem

        .tab
            position relative
            align-items center
            justify-content center
            flex 2 1 0
            padding .4rem .8rem
            height 3.2rem
            &:first-child span
                border-left none
            &:last-child span
                border-right none
            span
                position absolute
                background rgb(240,240,240)
                width 100%
                height 100%
                align-items center
                justify-content center
                border .1rem solid $inactive
                border-top-left-radius .8rem
                border-top-right-radius .8rem
                cursor pointer
            &.selected span
                z-index 5
                width 110%
                height 120%
                font-weight 600
                font-size 1.8rem
                color rgb(85,85,85)
                background white
                border-bottom-color transparent
                box-shadow inset 0 0 .4rem #666
                transition all .1s ease-in-out
                cursor default

    .Query
        flex-direction column
        background-color $primaryBG

        .search.row
            flex 0 0 4.8rem
            height 4.8rem
            align-items center

            div.count
                flex 0 0 4.8rem
                width 4.8rem
                justify-content center

                span
                    min-width 2.4rem
                    height 2.4rem
                    align-items center
                    justify-content center
                    border-radius .5rem
                    padding 0 .5rem
                    border .2rem inset
                    color $darkTextSecondary

            input[type='text']
                flex 1 0 0px
                border-radius .25rem
                height 2.4rem
                padding-left .5rem
                margin-left 0.8rem

            div.Icon
                margin 0 1rem

        // div.query
        //     z-index 5
        //     flex-direction column
        //     background white
        //     color $inactive
        //     padding .8rem
        //     flex 1
        //     span
        //         -webkit-user-select none
        //         justify-content center
        //         padding .4rem .8rem
        //         &.included
        //             text-shadow 0 .3rem .6rem #048
        //         &.excluded, &.excluded-active
        //             text-shadow 0 .3rem .6rem #f00
        //         &.required-active
        //             text-shadow 0 .3rem .6rem #999
        //         &.required, &.required-active, &.excluded-active
        //             color black
        //     input
        //         margin .8rem
        //         flex 1
        // div.gradient.spacer
        //     z-index 5
        //     position absolute
        //     top 100%
        //     width 100%
        //     padding .4rem
        //     background linear-gradient(to bottom, white 0%, white 50%, transparent 100%)


    .List-Body
        flex 1
        flex-direction column
        overflow-y auto
        background $primaryBG

        div.task.row
            flex 0 0 4.8rem
            height 4.8rem
            padding-right .5rem
            & > div.column
                align-items center
                justify-content center
            div.checkbox.column
                position relative
                width 4.8rem
                cursor pointer
                svg
                    stroke _faded(.53)
                    stroke-width .15rem
                    line
                        stroke white
                        stroke-width 2
                span.projectSize
                    position absolute
                    top 0
                    bottom 0
                    left 0
                    right 0
                    align-items center
                    justify-content center
                    font-size 1rem
                    color white
                    font-stretch condensed
                    font-family sans-serif

            div.svg.column
                width 4.8rem
                cursor pointer
                line
                    stroke-width .15rem
                    stroke rgb(100,100,100)
            div.title.column
                align-items flex-start
                flex-grow 1
                padding .8rem
                span
                    cursor pointer
                input
                    flex-grow 1
                    font-size 1.6rem
                    font-family initial
                    border none
            div.Icon
                color _faded(.53)
                padding-right .5rem
                &.star
                    color $star


/////////////////////////   ANIMATIONS / TRANSITIONS   /////////////////////////
#dropNav
    margin-top -0.8rem
    &.dropNav-enter
        margin-top -3.2rem
        opacity 0
        transition margin-top 200ms ease-in-out, opacity 150ms 50ms ease-in-out
        &&-active
            margin-top -0.8rem
            opacity 1

    &.dropNav-leave
        margin-top -0.8rem
        opacity 1
        &&-active
            margin-top -3.2rem
            opacity 0
            transition margin-top 200ms ease-in-out, opacity 100ms ease-in-out
