//********************  GLOBAL STYLING  ********************
//COLORS
$newLeaf = newLeaf()
newLeaf(alpha = 1)
  rgba(0,128,0, alpha)
$selected = selected()
selected(alpha = 1)
  rgba(0, 120, 255, alpha)
$inactive = inactive()
inactive(alpha = 0.5)
  rgba(0, 0, 0, alpha)
$dark = darkish()
darkish(alpha = 0.5)
  rgba(0, 0, 0, alpha)
$light = lightish()
lightish(alpha = 1)
  rgba(255, 255, 255, alpha)
$shadow = 0 1px 10px #515151
$star = rgb(241, 196, 15)
$sky = rgb(102,204,255)

//POSITIONING
center(n, n1 = false)
  if n1
    display flex
    align-items center
    justify-content space-around
  else if n == vert
    display flex
    align-items center
  else if n == h
    display flex
    justify-content space-around

//NG-CLOAK
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

//RESET
html, body
  margin 0
  padding 0


  // Prevent's scrolling during overlays
.container
  width 100vw
  height 100vh
  position fixed
  overflow-x hidden
  overflow-y auto
  flex-wrap wrap


//***************  CALENDAR STYLING  ***************
// ----------------VIEWS---------------
// Month
div.calendar.view
  box-shadow none
  z-index 0
  .row
    padding 0
    &:first-child
      color $inactive
      margin 5px
    &:nth-child(2)
      flex-grow 1
      color black
    span
      min-height 1em

// Week
div.week.container
  #date
    width 100vw
    div.col8
      text-align center
      &>div:first-child
        font-size 10px
  div.dividers.column
    position absolute
    padding-top 6px
    hr
      margin 0
      border none
      margin-bottom 29px
      border-bottom 1px solid darkish(0.3)
      width 100vw
      &:nth-child(even)
        border-bottom 1px dashed darkish(0.3)
  div.event.column
    padding-top 6px
    svg
      margin-left -7px
    div.col7
      display inline-flex
      height 1440px
      box-sizing border-box
      border-left 1px solid darkish(.3)

// Day
div.day.container
  #date
    width 50px
    flex-direction column
    &>div:first-child
      font-size 10px
  div.event.column
    svg
      margin-left -7px
    hr
      margin 3px 0
      border-color darkish(0.3)
    & > div
      height 60px
      width 100%
      box-sizing border-box
      border-bottom 1px solid darkish(0.3)
      div
        height 30px
        width 100%
        box-sizing border-box
        border-bottom 1px dashed darkish(0.3)

//Week & Day
div.day.container, div.week.container
  display flex
  #date
    position fixed
    left 0
    top 70px
    height 60px
    font-size 24px
    background-color $light
    box-shadow 0 5px 15px $light
    center(vert)
    justify-content center
    &.spacer
      top 300px
  .today
    color rgba(0, 120, 255, 0.5)
  .inactive
    color $inactive
  .selected
    color $selected
    font-size 110%
  div.hour.column
    width 50px
    font-size 12px
    text-align center
    flex-grow 0
    div
      height 60px
  div.event.column
    position relative
    flex-grow 1
    svg
      position absolute
      fill $selected
      stroke $selected
      z-index 50


// ----------------DIRECTIVES---------------
// calHeader
nav.calHeader
  position fixed
  z-index: 10
  width 100%
  height 70px
  top 0
  font-size 30px
  box-shadow $shadow
  padding 0 .3em
  display flex
  justify-content space-between
  background-color white
  div
    width 33%
    margin 0 .5em
    display inline-flex
    align-items center
    &.right
      justify-content flex-end
    &.left
      justify-content flex-start
    span
      center(vert)
      padding-left .7em
    i
      padding-right .3em
//spacers for calHeader
div.spacer1
  height 70px
  width 100vw
div.spacer2
  height 230px
  width 100vw
div.weekViewSpacer
  height 130px
  width 100vw

//Grey Overlay
fade
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index 20
  background-color darkish(0.3)
.noScroll
  overflow hidden

// optionPane Directive
div.optionPane
  //container
  position absolute
  display inline-flex
  width 100vw
  left 0
  min-height 100%
  align-items: center;
  //active area
  & > .col
    background-color white
    width 320px
    box-shadow 1px 0 10px #515151
    z-index 30
    .row
      center(vert, h)
      &:first-child
        background-color newLeaf(0.2)
        border-bottom 1px solid #333
        img
          padding 5px
          height 56px
      &:nth-child(2) .col
        center(vert)
        padding 1em .5em .5em .5em
        img
          height 3em
          padding 0 .5em
        span
          font-size 24px
          margin-right 10px
      &:nth-child(3)
        div.col
          display block
          div
            center(vert)
            padding 10px
            span
              font-size 18px
              margin-left 1em
              margin-right 5em

// Calendar Directive
calendar.header
  position fixed
  width 100%
  z-index 15
  top 70px
  background-color $light
div.calendar
  box-shadow $shadow
  div.row
    center(vert, h)
    padding 8px 0
    &:nth-child(2)
      color $inactive
      text-align center
    & > div.col7
      center(h)
      flex-direction column
      align-items center
      div
        center(vert, h)
        width 25px
        &.cal
          height 25px
    .hide
      visibility hidden
    .disabled
      opacity .3
    .selected, .today
      border-radius 50%
      box-sizing border-box
      font-size 90%
    .today
      background-color rgba(0, 120, 255, 0.3)
      color $light
    .selected
      background-color $selected
      color $light

div.calendarHead
  box-shadow $shadow
  center(vert)
  justify-content space-between
  background-color red
  b
    font-size 24px
section.calendar
  position fixed
  height 100vh
  left 0
  right 0
  z-index -1
  opacity .3



//********************  LIST  ********************
//----------------VIEWS---------------
// General
div.list.view
  div.view.body
    position fixed
    z-index 1
    top 6.1em
    bottom 0
    overflow scroll
    width 100vw
  div.tab
    position fixed
    top 3.8em
    height 2.2em
    center(vert, h)
    border 1px solid inactive(.8)
    border-bottom none
    background-color $light
    color lightish(.9)
    font-weight bold
    text-shadow 1px 1px 20px selected(.3), -1px -1px 20px selected(.3), -1px 1px 20px selected(.3), 1px -1px 20px selected(.3), 1px 2px 1px black, -1px -.5px 1px black, -1px 2px 1px black, 1px -.5px 1px black
    z-index 100
div.list.spacer
  height 6em
div.item.row
  height 3em
  display flex
  div.item.col:first-child
    width 12vw
    height 100%
    display flex
    center(vert, h)
    svg
      stroke darkish(.53)
      stroke-width 1.5px


// star
div.list.star.view
  div.star.tab
    width 10vw*1.1
    border-left none
    i
      font-size 27px
      color $star
      text-shadow 1px 1px 20px selected(.3), -1px -1px 20px selected(.3), -1px 1px 20px selected(.3), 1px -1px 20px selected(.3), 1px 2px 1px black, -1px -.5px 1px black, -1px 2px 1px black, 1px -.5px 1px black

// active
div.list.active.view
  div.active.tab
    width 19vw*1.1
    left 10.3vw

// pending
div.list.pending.view
  div.pending.tab
    width 22vw*1.1
    left 29.3vw

// inactive
div.list.inactive.view
  div.inactive.tab
    width 22vw*1.1
    left 51.3vw

// completed
div.list.completed.view
  div.completed.tab
    width 27vw
    left 73.3vw

// search
div.list.search.view
  div.search.icon
    position fixed
    width 12vw
    right .7em
    height 4em
    display flex
    z-index 150
    i
      font-size 2em
      color $sky
      text-shadow 0 3px 6px rgb(0,0,255)
      margin auto
      background-color $selected
  div.search.box
    position fixed
    width 100vw
    top 6em
    padding .3em 0
    background-color $light
    border 1px solid $dark
    box-sizing border-box
    box-shadow $shadow
    div.row
      display flex
      //1ST ROW (w/ all the search filters)
      div.col2
        color darkish(0.4)
        .selected
          color darkish(0.8)
          text-shadow 0 3px 6px rgba(0,64,128,1)
        //1ROW/1ST COLUMN (icons)
        &:first-child
          width 15vw
          flex-grow 0
          center(h)
          flex-direction column
          font-weight bold
          text-align center
          i:active
            color darkish(0.8)
            text-shadow 0 3px 6px rgba(0,64,128,1)
        //1ROW/2ND COLUMN (filter terms)
        &:last-child
          flex-grow 1
          display flex
          justify-content space-around
          div.icol3
            display flex
            flex 0 1 auto
            flex-direction column
            align-items center
            &:first-child
              width 32%
            div.irow3
              margin .4em
      //2ND ROW (w/ with the search input box)
      input
        font-size 1em
        margin .5em 1em
        flex-grow 1



//------------------------------------------------------------------------------
//--------------------------------DIRECTIVES------------------------------------
//------------------------------------------------------------------------------
// The primary editing window for new and existing tasks
div.edit-item-pane.container, div.new-item-pane.container
  top 0
  left 0
  z-index 500
  div.edit-item-pane.header, div.new-item-pane.header
    div.title.row
      div.title.column
        font-size 26px
        div
          display flex
        &:last-child
          button
            background none
            color $light
            border 1px solid transparent
            border-radius 4px
            &:disabled
              color lightish(0.3)
  div.edit-item-pane.body, div.new-item-pane.body
    z-index 100
    position absolute
    width 100vw
    top 4em
    bottom 0
    padding 1.5em
    box-sizing border-box
    background-color $light
    form
      font-size 1.5em
      div.form.row
        display flex
        input
          flex-grow 1
          margin 0 1em
          border none
          font-size: 20px
          &:focus
            outline none

// Quick Scheduler
div.directive.scheduler.container
  z-index 500
  background-color darkish(.3)
  div.scheduler.body
    z-index 25
    position absolute
    top 10vh
    left 10vw
    right 10vw
    padding 1em .5em
    background-color $light
    box-shadow $shadow
    border-radius .3em
    div.top
      display flex
      position absolute
      align-items center
      flex-direction column
      height auto
      left 1px
      right 1px
      background-color lightish(.85)
      box-shadow 0 6px 6px -5px rgba(100,100,100,.5)
      span
        font-size small
        margin-bottom -.6em
      div.item
        height 1.5em
        font-size 2em
        display flex
        align-items center
    div.spacer
      height 4em
    div.bottom
      display inline-flex
      flex-wrap wrap
      justify-content space-around
      div.item
        center(vert, h)
        height 2.5em
        width 44%
        box-sizing border-box
        margin .5em
        padding .3em
        border-radius .5em
        box-shadow $shadow
        text-align center


// Quick Scheduler
div.directive.quickScheduler.container
  z-index 400
  background-color darkish(.3)
  div.quickScheduler.body
    z-index 25
    position absolute
    top 10vh
    left 10vw
    right 10vw
    padding 1em .5em 0 .5em
    background-color $light
    box-shadow $shadow
    border-radius .3em
    div.top
      display flex
      position absolute
      align-items center
      flex-direction column
      height auto
      left 1px
      right 1px
      background-color $light
      box-shadow 0 6px 6px -5px rgba(100,100,100,.5)
      &.disabled
        color rgba(0,0,0,.3)
      span
        font-size small
        margin-bottom -.6em
      div.item
        height 1.5em
        font-size 2em
        display flex
        align-items center
    div.last.row
      box-shadow none
    div.spacer
      height 4em
    div.modal
      position absolute
      z-index 50
      top 1em
      bottom 10px
      left 1px
      right 1px
      display flex
      flex-direction column
      background-color lightish(.85)
      div.spacer
        width 100%
      div.bottom
        center(vert, h)
        flex-wrap wrap
        flex-grow 1
        div.item
          center(vert, h)
          height 2.5em
          width 44%
          box-sizing border-box
          padding .3em
          border-radius .5em
          background-color $light
          box-shadow $shadow
          text-align center
    div#qsSaveButton
      position absolute
      z-index 50
      left 50%
      margin-left -10vw
      margin-top 2em
      font-weight bold
      div.item
        center(vert, h)
        height 2.5em
        width 20vw
        border-radius .5em
        background-color $light
        box-shadow $shadow



// addItem row
div.item.row
  div.item.col
    display flex
    margin auto
    &:nth-child(2)
      flex-grow 1
      padding 0.5em
      form
        display flex
        flex-grow 1
        input
          color darkish(0.8)
          flex-grow 1
          font-size 1.2em
          border none
    &.icon
      color darkish(.53)
    &:last-child
      padding-right .3em

// listHeader
div.list.header, div.new-item-pane.header, div.edit-item-pane.header
  width 100vw
  div.title.row, div.icon.row
    center(vert)
    justify-content space-between
    height 2em
    padding .3em
    box-sizing border-box
    font-size 2em
    div.title.column, div.icon.column
      center(vert, h)
      i
        text-align center
        margin-right .5em
  div.title.row
    background-color $selected
    color $light
  div.icon.row
    background-color $light
    color $dark
  div.tabs.row
    display flex
    height 2em
    border-bottom 1px solid inactive(.8)
    div.tab.column
      center(vert, h)
      color $inactive
      border 1px solid $inactive
      border-bottom none
      box-sizing border-box
      &.star
        width 10vw
      &.active
        width 19vw
      &.pending
        width 22vw
      &.inactive
        width 22vw
      &.completed
        width 27vw


//********************  ADDITIONAL STYLING  ********************
//POSITIONING
// Columns
.col12 { width: (100% / 12); }
.col11 { width: (100% / 11); }
.col10 { width: 10%; }
.col9 { width: (100% / 9); }
.col8 { width: (100% / 8); }
.col7 { width: (100% / 7); }
.col6 { width: (100% / 6); }
.col5 { width: 20%;}
.col4 { width: 25%; }
.col3 { width: (100% / 3); }
.col2 { width: 50%; }
.col1 { width: 100%; }
.col { width: auto; }
// Rows
.row12 { height: (100% / 12); }
.row11 { height: (100% / 11); }
.row10 { height: 10%; }
.row9 { height: (100% / 9); }
.row8 { height: (100% / 8); }
.row7 { height: (100% / 7); }
.row6 { height: (100% / 6); }
.row5 { height: 20%; }
.row4 { height: 25%; }
.row3 { height: (100% / 3); }
.row2 { height: 50%; }
.row1 { height: 100%; }
.row { height: auto; }


// MATERIAL DESIGN ICONS
// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: darkish(0.54); }
.material-icons.md-dark.md-inactive { color: darkish(0.28); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: $light; }
.material-icons.md-light.md-inactive { color: $light(0.3); }
