// RESET
html, body
    margin 0
    padding 0

// COLORS
_faded(alpha = .5)
    rgba(0,0,0,alpha)
$primaryBG = rgb(255,255,255)
$active = rgb(0, 120, 255)
$current = rgba(0, 120, 255, .5)
$inactive = _faded()
$light = rgb(245,245,245)

// colored items
$listAccent = rgb(0, 120, 255)
$hourDivider = _faded(.3)
$dateDay = linear-gradient(to bottom, $primaryBG 0%, $primaryBG 75%, transparent 100%)

// z-index
$headerIndx = 50
$minuteBarIndx = 10

// GLOBALS
body *
    display flex
    box-sizing border-box
.app.container
    width 100vw
    height 100vh
    flex-direction column

// STYLES
.faded
    opacity .5
.invisible
    opacity 0
.hidden
    display none
.inactive, .prior, .disabled
    color: $inactive
.current
    color: $current
.active
    color: $active
.light
    color: $light



/////////////////////////////   COMPONENTS   ////////////////////////////////
////////// UI //////////
.Column
    flex-direction column
    flex-grow 1
.Row
    flex-grow 1

i.material-icons
    display flex
    align-items center
    transition opacity 300ms ease-in-out
main#view_container
    display: block
    flex 1 1 100%
    overflow-x: hidden
    overflow-y: auto
    position: relative

////////// COMPLEX //////////
header
    z-index $headerIndx
    flex 0 0 auto
    overflow-x: hidden
header.calendar
    background-color $primaryBG
    box-shadow 0 1px 10px #515151
    nav span
        border-radius: 0.5rem;
        padding .2rem .5rem .1rem
    nav .selected
        background: #f4f4f4;
        box-shadow: inset 1px 1px 3px #666;
        transition: all 200ms ease-in-out
header.list
    flex-direction: column
    & > div.Row
        align-items center
        height 70px
        padding 0 1rem
    div.default.Row
        background-color $listAccent
        color $light
        transition: opacity .2s
        &.hideaway
            opacity: 0
            height: 0
            margin-bottom: 70px
            overflow: hidden
            transition: opacity .2s, height 0s .3s, margin-bottom 0s .3s
    div.icon.Row
        z-index: -1
        position: absolute
        width: 100%
    nav.tab.Column
        background-color $listAccent
        color $inactive
        .tab
            position: relative
            align-items: center
            justify-content: center
            flex: 2 1 0
            padding 4px 8px
            height 2rem
            &:first-child span
                border-left: none
            &:last-child span
                border-right: none
            span
                position: absolute;
                background: rgb(240,240,240);
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                border: 1px solid $inactive
                border-top-left-radius: 8px
                border-top-right-radius: 8px
            &.selected span
                z-index: 5;
                width: 110%;
                height: 120%;
                font-weight: 600;
                font-size: 18px;
                color: rgb(85,85,85);
                background: white;
                box-shadow: inset 0px 0px 4px #666
                transition all .1s ease-in-out
                & i.material-icons
                    font-size 28px
    div.query
        z-index 5
        flex-direction: column
        background white
        color $inactive
        padding .5rem
        flex 1
        span
            -webkit-user-select: none
            justify-content: center
            padding .25rem .5rem
            &.included
                text-shadow: 0 3px 6px #048
            &.required
                text-shadow: 0 3px 6px #f00
            &.included, &.required
                color: black
        input
            margin .5rem
            flex 1
        &.spacer
            background linear-gradient(to bottom, white 0%, white 50%, transparent 100%)

section.hour-divider
    flex-grow 1
    .hours
        font-size: 12px
        margin-top: 4px
        .Span
            height: 60px
            justify-content: center
    .events
        margin-top: 10px
        border-top 1px solid $hourDivider
        position: relative
        svg
            z-index $minuteBarIndx
            position absolute
            left -4px
            fill $active
            stroke $active
        hr
            margin 0
            margin-top 28px
            border-color: transparent
            border-bottom: 1px dashed $hourDivider
            &:nth-child(even)
                border-style: solid



////////////////////////////////     VIEWS     /////////////////////////////////
.Agenda.view
    flex-direction: column
    width 100%
    .month
        height 5rem
        justify-content: center
        align-items: center
        font-size 2rem
    .day
        margin .5rem 0
    .date
        flex-direction column
        height 60px
        width 50px
        font-size 24px
        align-items center
        background: $dateDay
        &>div:first-child
          font-size 10px
    .tasks
        flex-direction: column
        flex 1 1 auto
    .task
        padding .25rem .5rem
        border-radius: .15rem
        margin: .25rem 1rem .25rem 0
        font-family: -apple-system,".SFNSText-Regular","San Francisco",Roboto,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px
        color: white

.Day.view
    z-index 1
    position: absolute
    width 100%
    .date
        position fixed
        left 0
        height 70px
        width 50px
        padding-top 10px
        font-size 24px
        flex-direction column
        align-items center
        background: $dateDay
        &>div:first-child
          font-size 10px
    .eventColumn
        position: relative
        flex-direction: column
        height 1440px
        width 100%
        padding-left 48px
        margin-top 10px
        border-top 1px solid transparent
        .task
            position: absolute
            width: 100%
            overflow: hidden
            padding: 1px
            transition: all 500ms ease-in-out
            &:hover
                max-height: 360px !important

.Week.view
    z-index 1
    position: absolute
    flex-direction: column
    width 100%
    .dateBar
        z-index 1
        position fixed
        height 60px
        padding-left 48px
        width 100%
        align-items: center
    .date
        flex 0 1 (100%/7)
        font-size 24px
        flex-direction column
        align-items center
        &>div:first-child
          font-size 10px
    .weekEvents
        height 1440px
        padding-left 48px
        margin-top 10px
        border-top 1px solid transparent
        .eventColumn
            position: relative
            flex-direction: column
            width (100%/7)
            border-right 1px solid $hourDivider
            &:first-of-type
                border-left 1px solid $hourDivider
            .task
                position: absolute
                font-size: 13px
                width: 100%
                overflow: hidden
                padding: 1px
                transition: all 500ms ease-in-out
                &:hover
                    max-height: 360px !important

.Month.view
    flex-direction: column
    width 100%
    .weekday.title span, .day
        width: (100%/7)
    .weekday.title.row
        padding: .5rem 0
        span
            justify-content: center
    .week
        flex 1 1 0
    .day
        padding 3px
        .date
            align-self center
        .task
            height 10px
            margin 1px 0
            border-radius: 8px




/////////////////////////   ANIMATIONS / TRANSITIONS   /////////////////////////
#dropNav
    margin-top -.5rem
    &.dropNav-enter
        margin-top -2rem
        opacity 0
        transition margin-top 200ms ease-in-out, opacity 150ms 50ms ease-in-out
        &&-active
            margin-top -.5rem
            opacity 1

    &.dropNav-leave
        margin-top -.5rem
        opacity 1
        &&-active
            margin-top -2rem
            opacity 0
            transition margin-top 200ms ease-in-out, opacity 100ms ease-in-out
