// RESET
html, body
    margin 0
    padding 0

// COLORS
_faded(alpha = .5)
    rgba(0,0,0,alpha)
$primaryBG = rgb(255,255,255)
$active = rgb(0, 120, 255)
$inactive = rgba(0,0,0,.5)

// colored items
$hourDivider = _faded(.3)
$dateDay = linear-gradient(to bottom, $primaryBG 0%, $primaryBG 75%, transparent 100%)

// z-index
$headerIndx = 50
$minuteBarIndx = 10

// GLOBALS
body *
    display flex
    box-sizing border-box
.app.container
    width 100vw
    height 100vh
    flex-direction column

// STYLES
.faded
    opacity .5
.invisible
    opacity 0
.hidden
    display none
.inactive
    color: $inactive
.active
    color: $active
nav .selected
    background: #f4f4f4;
    box-shadow: inset 1px 1px 3px #666;
    transition: all 200ms ease-in-out



/////////////////////////////   COMPONENTS   ////////////////////////////////
////////// UI //////////
.Column
    flex-direction column
    flex-grow 1
.Row
    flex-grow 1

i.material-icons
    display flex
    align-items center
    transition opacity 300ms ease-in-out
header
    z-index $headerIndx
    background-color $primaryBG
    box-shadow 0 1px 10px #515151
    flex 0 0 auto
main
    display: block
    flex 1 1 auto
    overflow-x: hidden
    overflow-y: auto
    position: relative
    // transition: padding-top 200ms ease-in-out
nav span
    border-radius: 0.5rem;
    padding .2rem .5rem .1rem

////////// COMPLEX //////////
section.hour-divider
    flex-grow 1
    .hours
        font-size: 12px
        margin-top: 4px
        .Span
            height: 60px
            justify-content: center
    .events
        margin-top: 10px
        border-top 1px solid $hourDivider
        position: relative
        svg
            z-index $minuteBarIndx
            position absolute
            left -4px
            fill $active
            stroke $active
        hr
            margin 0
            margin-top 28px
            border-color: transparent
            border-bottom: 1px dashed $hourDivider
            &:nth-child(even)
                border-style: solid



////////////////////////////////     VIEWS     /////////////////////////////////
.Day .date
    position fixed
    left 0
    height 70px
    width 50px
    padding-top 10px
    font-size 24px
    flex-direction column
    align-items center
    background: $dateDay
    &>div:first-child
      font-size 10px

.Week
    position: absolute
    flex-direction: column
    width 100%
    .dateBar
        position fixed
        height 60px
        padding-left 48px
        width 100%
        align-items: center
    .date
        flex 0 1 (100%/7)
        font-size 24px
        flex-direction column
        align-items center
        &>div:first-child
          font-size 10px
    .weekEvents
        height 1440px
        padding-left 48px
        margin-top 10px
        border-top 1px solid transparent
        .eventColumn
            flex-direction: column
            width (100%/7)
            border-right 1px solid $hourDivider
            &:first-of-type
                border-left 1px solid $hourDivider



/////////////////////////   ANIMATIONS / TRANSITIONS   /////////////////////////
#dropNav
    margin-top -.5rem
    &.dropNav-enter
        margin-top -2rem
        opacity 0
        transition margin-top 200ms ease-in-out, opacity 150ms 50ms ease-in-out
        &&-active
            margin-top -.5rem
            opacity 1

    &.dropNav-leave
        margin-top -.5rem
        opacity 1
        &&-active
            margin-top -2rem
            opacity 0
            transition margin-top 200ms ease-in-out, opacity 100ms ease-in-out
