// RESET
html, body
    margin 0
    padding 0

// COLORS
$background1 = rgb(255,255,255);

// GLOBALS
.app.container *
    display flex
    box-sizing border-box

// STYLES
.faded
    opacity .6
.invisible
    opacity 0
nav .active
    background: #f4f4f4;
    box-shadow: inset 1px 1px 3px #666;
    transition: all 200ms ease-in-out

// COMPONENTS
.column
    flex-direction column
    flex-grow 1
.row
    flex-grow 1
i
    align-items center
    transition opacity 300ms ease-in-out
header
    position fixed
    top 0
    left 0
    right 0
    background-color $background1
    box-shadow 0 1px 10px #515151
nav span
    border-radius: 0.5rem;
    padding .2rem .5rem .1rem



// ANIMATIONS / TRANSITIONS
#dropNav
    margin-top -.5rem
    &.dropNav-enter, &.dropNav-appear
        margin-top -2rem
        opacity 0
        overflow hidden
        &&-active
            margin-top -.5rem
            opacity 1
            transition margin-top 200ms ease-in-out, opacity 150ms 50ms ease-in-out

    &.dropNav-leave
        margin-top -.5rem
        opacity 1
        overflow hidden
        &&-active
            margin-top -2rem
            opacity 0
            transition margin-top 200ms ease-in-out, opacity 100ms ease-in-out
