<div class="list pending view">
  <!-- Pending tab -->
  <div class="pending tab">Pending</div>
  <!-- Spacer to fill space under the fixed header directive -->
  <div class="list spacer"></div>
  <!-- Container for the list of projects -->
  <div class="pending view body">
    <!-- ***** DATA ROWS ***** -->
    <task-items ng-repeat="task in tasks" ng-if="task.status.pending && !task.status.completed"></task-items>
    <!-- ***** ADD ITEM ROW ***** -->
    <add-item></add-item>
  </div>
</div>
