<div class="list star view">
  <!-- Star icon tab -->
  <div class="star tab">
    <i class="material-icons">star</i>
  </div>
  <!-- Spacer to fill space under the fixed header directive -->
  <div class="list spacer"></div>
  <!-- Container for the list of projects -->
  <div class="star view body">
    <!-- ***** DATA ROWS ***** -->
    <task-items ng-repeat="task in tasks" ng-if="task.status.starred && !task.status.completed"></task-items>
    <!-- <task-items></task-items> -->
    <add-item></add-item>
  </div>
</div>
