[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
html,
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  flex-wrap: wrap;
}
div.calendar.view {
  box-shadow: none;
  z-index: 0;
}
div.calendar.view .row {
  padding: 0;
}
div.calendar.view .row:first-child {
  color: rgba(0,0,0,0.5);
  margin: 5px;
}
div.calendar.view .row:nth-child(2) {
  color: #000;
}
div.week.container #date {
  width: 100vw;
}
div.week.container #date div.col8 {
  text-align: center;
}
div.week.container #date div.col8>div:first-child {
  font-size: 10px;
}
div.week.container div.dividers.column {
  position: absolute;
  padding-top: 6px;
}
div.week.container div.dividers.column hr {
  margin: 0;
  border: none;
  margin-bottom: 29px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  width: 100vw;
}
div.week.container div.dividers.column hr:nth-child(even) {
  border-bottom: 1px dashed rgba(0,0,0,0.3);
}
div.week.container div.event.column {
  padding-top: 6px;
}
div.week.container div.event.column svg {
  margin-left: -7px;
}
div.week.container div.event.column div.col7 {
  display: inline-flex;
  height: 1440px;
  box-sizing: border-box;
  border-left: 1px solid rgba(0,0,0,0.3);
}
div.day.container #date {
  width: 50px;
  flex-direction: column;
}
div.day.container #date>div:first-child {
  font-size: 10px;
}
div.day.container div.event.column svg {
  margin-left: -7px;
}
div.day.container div.event.column hr {
  margin: 3px 0;
  border-color: rgba(0,0,0,0.3);
}
div.day.container div.event.column > div {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
div.day.container div.event.column > div div {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px dashed rgba(0,0,0,0.3);
}
div.day.container,
div.week.container {
  display: flex;
}
div.day.container #date,
div.week.container #date {
  position: fixed;
  left: 0;
  top: 70px;
  height: 60px;
  font-size: 24px;
  background-color: #fff;
  box-shadow: 0 5px 15px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.day.container #date.spacer,
div.week.container #date.spacer {
  top: 300px;
}
div.day.container .today,
div.week.container .today {
  color: rgba(0,120,255,0.5);
}
div.day.container .inactive,
div.week.container .inactive {
  color: rgba(0,0,0,0.5);
}
div.day.container .selected,
div.week.container .selected {
  color: #0078ff;
  font-size: 110%;
}
div.day.container div.hour.column,
div.week.container div.hour.column {
  width: 50px;
  font-size: 12px;
  text-align: center;
  flex-grow: 0;
}
div.day.container div.hour.column div,
div.week.container div.hour.column div {
  height: 60px;
}
div.day.container div.event.column,
div.week.container div.event.column {
  position: relative;
  flex-grow: 1;
}
div.day.container div.event.column svg,
div.week.container div.event.column svg {
  position: absolute;
  fill: #0078ff;
  stroke: #0078ff;
  z-index: 50;
}
nav.calHeader {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 70px;
  top: 0;
  font-size: 30px;
  box-shadow: 0 1px 10px #515151;
  padding: 0 0.3em;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
nav.calHeader div {
  width: 33%;
  margin: 0 0.5em;
  display: inline-flex;
  align-items: center;
}
nav.calHeader div.right {
  justify-content: flex-end;
}
nav.calHeader div.left {
  justify-content: flex-start;
}
nav.calHeader div span {
  display: flex;
  align-items: center;
  padding-left: 0.7em;
}
nav.calHeader div i {
  padding-right: 0.3em;
}
div.spacer1 {
  height: 70px;
  width: 100vw;
}
div.spacer2 {
  height: 230px;
  width: 100vw;
}
div.weekViewSpacer {
  height: 130px;
  width: 100vw;
}
fade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: rgba(0,0,0,0.3);
}
.noScroll {
  overflow: hidden;
}
div.optionPane {
  position: absolute;
  display: inline-flex;
  width: 100vw;
  left: 0;
  min-height: 100%;
  align-items: center;
}
div.optionPane > .col {
  background-color: #fff;
  width: 320px;
  box-shadow: 1px 0 10px #515151;
  z-index: 30;
}
div.optionPane > .col .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div.optionPane > .col .row:first-child {
  background-color: rgba(0,128,0,0.2);
  border-bottom: 1px solid #333;
}
div.optionPane > .col .row:first-child img {
  padding: 5px;
  height: 56px;
}
div.optionPane > .col .row:nth-child(2) .col {
  display: flex;
  align-items: center;
  padding: 1em 0.5em 0.5em 0.5em;
}
div.optionPane > .col .row:nth-child(2) .col img {
  height: 3em;
  padding: 0 0.5em;
}
div.optionPane > .col .row:nth-child(2) .col span {
  font-size: 24px;
  margin-right: 10px;
}
div.optionPane > .col .row:nth-child(3) div.col {
  display: block;
}
div.optionPane > .col .row:nth-child(3) div.col div {
  display: flex;
  align-items: center;
  padding: 10px;
}
div.optionPane > .col .row:nth-child(3) div.col div span {
  font-size: 18px;
  margin-left: 1em;
  margin-right: 5em;
}
calendar.header {
  position: fixed;
  width: 100%;
  z-index: 15;
  top: 70px;
  background-color: #fff;
}
div.calendar {
  box-shadow: 0 1px 10px #515151;
}
div.calendar div.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
}
div.calendar div.row:nth-child(2) {
  color: rgba(0,0,0,0.5);
  text-align: center;
}
div.calendar div.row > div.col7 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
div.calendar div.row > div.col7 div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25px;
}
div.calendar div.row > div.col7 div.cal {
  height: 25px;
}
div.calendar div.row .hide {
  visibility: hidden;
}
div.calendar div.row .disabled {
  opacity: 0.3;
}
div.calendar div.row .selected,
div.calendar div.row .today {
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 90%;
}
div.calendar div.row .today {
  background-color: rgba(0,120,255,0.3);
  color: #fff;
}
div.calendar div.row .selected {
  background-color: #0078ff;
  color: #fff;
}
div.calendarHead {
  box-shadow: 0 1px 10px #515151;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f00;
}
div.calendarHead b {
  font-size: 24px;
}
section.calendar {
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
}
div.list.view div.view.body {
  position: relative;
  z-index: 1;
}
div.list.view div.tab {
  position: absolute;
  top: 3.8em;
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(0,0,0,0.8);
  border-bottom: none;
  background-color: #fff;
  color: rgba(255,255,255,0.9);
  font-weight: bold;
  text-shadow: 1px 1px 20px rgba(0,120,255,0.3), -1px -1px 20px rgba(0,120,255,0.3), -1px 1px 20px rgba(0,120,255,0.3), 1px -1px 20px rgba(0,120,255,0.3), 1px 2px 1px #000, -1px -0.5px 1px #000, -1px 2px 1px #000, 1px -0.5px 1px #000;
  z-index: 100;
}
div.list.spacer {
  height: 6em;
}
div.item.row {
  height: 3em;
}
div.item.row div.item.col:first-child {
  width: 12vw;
  height: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div.item.row div.item.col:first-child svg {
  stroke: rgba(0,0,0,0.53);
  stroke-width: 1.5px;
}
div.list.star.view div.star.tab {
  width: 11vw;
  border-left: none;
}
div.list.star.view div.star.tab i {
  font-size: 27px;
  color: #f1c40f;
  text-shadow: 1px 1px 20px rgba(0,120,255,0.3), -1px -1px 20px rgba(0,120,255,0.3), -1px 1px 20px rgba(0,120,255,0.3), 1px -1px 20px rgba(0,120,255,0.3), 1px 2px 1px #000, -1px -0.5px 1px #000, -1px 2px 1px #000, 1px -0.5px 1px #000;
}
div.list.active.view div.active.tab {
  width: 20.900000000000002vw;
  left: 10.3vw;
}
div.list.pending.view div.pending.tab {
  width: 24.200000000000003vw;
  left: 29.3vw;
}
div.list.inactive.view div.inactive.tab {
  width: 24.200000000000003vw;
  left: 51.3vw;
}
div.list.completed.view div.completed.tab {
  width: 27vw;
  left: 73.3vw;
}
div.list.search.view div.search.icon {
  position: fixed;
  width: 12vw;
  right: 0;
  height: 4em;
  display: flex;
  z-index: 150;
}
div.list.search.view div.search.icon i {
  font-size: 2em;
  color: #6cf;
  text-shadow: 0 3px 6px #00f;
  margin: auto;
  background-color: #0078ff;
}
div.list.search.view div.search.box {
  position: fixed;
  width: 100vw;
  top: 6em;
  padding: 0.3em 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.5);
  box-sizing: border-box;
  box-shadow: 0 1px 10px #515151;
}
div.list.search.view div.search.box div.row {
  display: flex;
}
div.list.search.view div.search.box div.row div.col2 {
  color: rgba(0,0,0,0.4);
}
div.list.search.view div.search.box div.row div.col2 .selected {
  color: rgba(0,0,0,0.8);
  font-weight: bold;
  text-shadow: 0 3px 6px #004080;
}
div.list.search.view div.search.box div.row div.col2:first-child {
  width: 15vw;
  flex-grow: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
}
div.list.search.view div.search.box div.row div.col2:first-child i:active {
  color: rgba(0,0,0,0.8);
  text-shadow: 0 3px 6px #004080;
}
div.list.search.view div.search.box div.row div.col2:last-child {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}
div.list.search.view div.search.box div.row div.col2:last-child div.icol3 {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: center;
}
div.list.search.view div.search.box div.row div.col2:last-child div.icol3:first-child {
  width: 32%;
}
div.list.search.view div.search.box div.row div.col2:last-child div.icol3 div.irow3 {
  margin: 0.4em;
}
div.list.search.view div.search.box div.row input {
  font-size: 1em;
  margin: 0.5em 1em;
  flex-grow: 1;
}
div.row.add.item {
  display: flex;
}
div.row.add.item div.col.add.item:nth-child(2) {
  flex-grow: 1;
  display: flex;
  padding: 0.5em;
}
div.row.add.item div.col.add.item:nth-child(2) input {
  color: rgba(0,0,0,0.8);
  flex-grow: 1;
  font-size: 1.2em;
  border: none;
}
div.list.header {
  width: 100vw;
}
div.list.header div.title.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  background-color: #0078ff;
  color: #fff;
  font-size: 2em;
}
div.list.header div.title.row div.title.column {
  display: flex;
  justify-content: space-around;
}
div.list.header div.title.row div.title.column i {
  width: 12vw;
  text-align: center;
}
div.list.header div.tabs.row {
  display: flex;
  height: 2em;
  border-bottom: 1px solid rgba(0,0,0,0.8);
}
div.list.header div.tabs.row div.tab.column {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.5);
  border-bottom: none;
  box-sizing: border-box;
}
div.list.header div.tabs.row div.tab.column.star {
  width: 10vw;
}
div.list.header div.tabs.row div.tab.column.active {
  width: 19vw;
}
div.list.header div.tabs.row div.tab.column.pending {
  width: 22vw;
}
div.list.header div.tabs.row div.tab.column.inactive {
  width: 22vw;
}
div.list.header div.tabs.row div.tab.column.completed {
  width: 27vw;
}
.col12 {
  width: 8.333333333333334%;
}
.col11 {
  width: 9.090909090909092%;
}
.col10 {
  width: 10%;
}
.col9 {
  width: 11.11111111111111%;
}
.col8 {
  width: 12.5%;
}
.col7 {
  width: 14.285714285714286%;
}
.col6 {
  width: 16.666666666666668%;
}
.col5 {
  width: 20%;
}
.col4 {
  width: 25%;
}
.col3 {
  width: 33.333333333333336%;
}
.col2 {
  width: 50%;
}
.col1 {
  width: 100%;
}
.col {
  width: auto;
}
.row12 {
  height: 8.333333333333334%;
}
.row11 {
  height: 9.090909090909092%;
}
.row10 {
  height: 10%;
}
.row9 {
  height: 11.11111111111111%;
}
.row8 {
  height: 12.5%;
}
.row7 {
  height: 14.285714285714286%;
}
.row6 {
  height: 16.666666666666668%;
}
.row5 {
  height: 20%;
}
.row4 {
  height: 25%;
}
.row3 {
  height: 33.333333333333336%;
}
.row2 {
  height: 50%;
}
.row1 {
  height: 100%;
}
.row {
  height: auto;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-dark {
  color: rgba(0,0,0,0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0,0,0,0.28);
}
.material-icons.md-light {
  color: #fff;
}
.material-icons.md-light.md-inactive {
  color: $light(0.3);
}
