<!-- HEADER -->
<cal-header icon="eye" month="month" flag1="optionFlag" flag2="monthFlag"></cal-header>
<!-- BODY -->
<div class="calendar view container">
  <!-- Spacers -->
  <div class="spacer1"></div>
  <div class="spacer2" ng-if="monthFlag"></div>
  <!-- 1ST ROW - Name of Days -->
  <div class="row">
      <div class="col7"><span>Sun</span></div>
      <div class="col7"><span>Mon</span></div>
      <div class="col7"><span>Tue</span></div>
      <div class="col7"><span>Wed</span></div>
      <div class="col7"><span>Thu</span></div>
      <div class="col7"><span>Fri</span></div>
      <div class="col7"><span>Sat</span></div>
  </div>
  <!-- REMAINING ROWS - Each week in month -->
  <div class="row" ng-repeat="week in month.weeks">
      <!-- Each Column represents one day -->
      <div class="col7" ng-class="{disabled: day.format('MMMM') !== month.name}" ng-repeat="day in week">
        <div class="cal" ng-click="month.rebuild(day)" ui-sref="calendar.day" ng-class="{selected: day.isSame(month.moment, 'day'), today: day.isSame(now, 'day')}">{{day.date()}}</div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
</div>
