<div class="directive quickScheduler container">
  <fade ng-click="toggleQuickScheduler()"></fade>
  <div class="quickScheduler body">

    <!--__________________ ITEM MODALS __________________-->
    <!-- Duration -->
    <div class="duration modal" ng-if="durationModalFlag">
      <div class="top row" ng-click="closeDurationModal()">
        <span>Duration</span>
        <div class="duration item">{{scheduleNames.duration}}</div>
      </div><div class="spacer"></div>
      <!-- Defaults -->
      <div class="bottom row" ng-if="!customDurationFlag">
        <div class="duration item" ng-click="setDuration(['None', 0])">None</div>
        <div class="duration item" ng-click="setDuration(['30 Minutes', 30])">30 Minutes</div>
        <div class="duration item" ng-click="setDuration(['1 Hour', 60])">1 Hour</div>
        <!-- <div class="duration item" ng-click="setDuration(['2 Hours', 120])">2 Hours</div> -->
        <div class="duration item" ng-click="setDuration(['4 Hours', 240])">4 Hours</div>
        <div class="duration item" ng-click="setDuration(['Work Day', 480, 1])">Work Day</div>
        <div class="duration item" ng-click="setDuration(['Evening', 240, 2])">Evening</div>
        <div class="duration item" ng-click="setDuration(['All Day', 1440, 3])">All Day</div>
        <div class="duration item" ng-click="openCustomDuration()">Custom</div>
      </div>
      <!-- Custom -->
      <div class="custom row" ng-if="customDurationFlag">
        <form name="custDurationForm" ng-submit="setCustomDuration(durationHours, durationMinutes)">
          <span>Hours: <input type="number" id="hours" name="hours" ng-model="durationHours"
            value="0" min="0" max="24" required /></span>
          <div role="alert" style="color:red">
            <span class="error" ng-show="custDurationForm.hours.$error.min || custDurationForm.hours.$error.max || custDurationForm.hours.$error.required">
              Please pick a number between 0 and 24</span>
          </div>
          <span>Minutes: <input type="number" id="minutes" name="minutes" ng-model="durationMinutes"
            value="0" min="0" max="45" step="15" required /></span>
          <div role="alert" style="color:red">
            <span class="error" ng-show="custDurationForm.minutes.$error.min || custDurationForm.minutes.$error.max || custDurationForm.minutes.$error.required">
              Minutes should be 0, 15, 30, or 45</span>
          </div>
          <p><input type="submit" ng-disabled="custDurationForm.hours.$invalid || custDurationForm.minutes.$invalid"></p>
        </form>
      </div>
    </div>
    <!-- Start Time -->
    <div class="startTime modal" ng-if="startTimeModalFlag">
      <!-- Defaults -->
      <div class="top row" ng-click="closeStartTimeModal()">
          <span>Start Time</span>
          <div class="startTime item">{{scheduleNames.startTime}}</div>
      </div><div class="spacer"></div>
      <div class="bottom row" ng-if="!customDateFlag">
          <div class="startTime item" ng-click="setStartTime(['Now', moment().startOf('hour')])">Now</div>
          <div class="startTime item" ng-if="hour < 17" ng-click="setStartTime(['Tonight', moment().hour(18).startOf('hour')])">Tonight</div>
          <div class="startTime item" ng-click="setStartTime(['Tomorrow', moment().add(1, 'day').hour(8).startOf('hour')])">Tomorrow</div>
          <div class="startTime item" ng-click="setStartTime(['Tomorrow Evening', moment().add(1, 'day').hour(18).startOf('hour')])">Tomorrow Evening</div>
          <div class="startTime item" ng-if="day < 5" ng-click="setStartTime(['This Weekend', moment().day(6).hour(8).startOf('hour')])">This Weekend</div>
          <div class="startTime item" ng-click="setStartTime(['Next Week', moment().add(1, 'week').day(1).hour(8).startOf('hour')])">Next Week</div>
          <div class="startTime item" ng-click="setStartTime(['Next Weekend', moment().add(1, 'week').day(6).hour(8).startOf('hour')])">Next Weekend</div>
          <div class="startTime item" ng-click="setStartTime(['Next Month', moment().add(1, 'month').date(1).hour(8).startOf('hour')])">Next Month</div>
          <div class="startTime item" ng-click="setStartTime(['Someday', ''])">Someday</div>
          <div class="startTime item" ng-click="openCustomDate()">Custom</div>
      </div>
      <!-- Custom -->
      <div class="custom row" ng-if="customDateFlag">
        <form name="myForm" ng-submit="setCustomDate([moment(customDate).calendar(), moment(customDate)], true)">
          <label for="customStartDateInput">Pick a date and time:</label>
          <input type="datetime-local" id="customStartDateInput" name="input" ng-model="customDate"
            min="{{minCustomDate}}" max="2020-12-31T00:00:00" step="900" required />
          <div role="alert" style="color:red">
            <span class="error" ng-show="myForm.input.$error.required">
              Required!</span>
            <span class="error" ng-show="myForm.input.$error.datetimelocal">
              Not a valid date!</span>
          </div>
          <p><input type="submit" ng-disabled="myForm.input.$invalid"></p>
          <!-- <tt>value = {{customDate | date: "yyyy-MM-ddTHH:mm:ss"}}</tt>
          <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt>
          <tt>myForm.input.$error = {{myForm.input.$error}}</tt>
          <tt>myForm.$valid = {{myForm.$valid}}</tt>
          <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt> -->
        </form>
      </div>
    </div>
    <!-- Deadline -->
    <div class="deadline modal" ng-if="deadlineModalFlag">
      <div class="top row" ng-click="toggleDeadlineModal()">
          <span>Deadline is realative to start time</span>
          <div class="deadline item" ng-if="deadlineType == 'softDeadline'">{{scheduleNames.softDeadline}}</div>
          <div class="deadline item" ng-if="deadlineType == 'hardDeadline'">{{scheduleNames.hardDeadline}}</div>
      </div><div class="spacer"></div>
      <!-- Defaults -->
      <div class="bottom row" ng-if="!customDateFlag">
          <div class="deadline item" ng-click="setDeadline(['None', ''])">None</div>
          <div class="deadline item" ng-if="schedule.duration && !durationTemplate" ng-click="setDeadline([scheduleNames.duration, tempDeadline.add(schedule.duration, 'minute')])">{{scheduleNames.duration}}</div>
          <div class="deadline item" ng-if="startToday && schedule.startTime.moment.hour() < 17" ng-click="setDeadline(['5:00 PM Today', tempDeadline.hour(17).startOf('hour')])">5:00 PM Today</div>
          <div class="deadline item" ng-if="startToday" ng-click="setDeadline(['Midnight', tempDeadline.add(1, 'day').startOf('day')])">Midnight</div>
          <div class="deadline item" ng-if="startToday" ng-click="setDeadline(['Midnight Tomorrow', tempDeadline.add(2, 'day').startOf('day')])">Midnight Tomorrow</div>
          <div class="deadline item" ng-if="!startToday && schedule.startTime.moment.hour() < 17" ng-click="setDeadline(['End of Workday', tempDeadline.hour(17).startOf('hour')])">End of Workday</div>
          <div class="deadline item" ng-if="!startToday" ng-click="setDeadline(['End of the Day', tempDeadline.add(1, 'day').startOf('day')])">End of Day</div>
          <div class="deadline item" ng-if="!startToday" ng-click="setDeadline(['End of Following Day', tempDeadline.add(2, 'day').startOf('day')])">End of Following Day</div>
          <div class="deadline item" ng-if="schedule.startTime.moment.day() < 5 || (schedule.startTime.moment.day() === 5 && schedule.startTime.moment.hour() < 17)" ng-click="setDeadline(['End of Workweek', tempDeadline.day(5).hour(17).startOf('hour')])">End of Workweek</div>
          <div class="deadline item" ng-click="setDeadline(['End of Week', tempDeadline.add(1, 'week').startOf('week')])">End of Week</div>
          <div class="deadline item" ng-click="setDeadline(['End of Month', tempDeadline.add(1, 'month').startOf('month')])">End of Month</div>
          <div class="deadline item" ng-click="openCustomDate()">Custom</div>
      </div>
      <!-- Custom -->
      <div class="custom row" ng-if="customDateFlag">
        <form name="myForm" ng-submit="setCustomDate([moment(customDate).calendar(), moment(customDate)])">
          <label for="customDeadlineInput">Pick a date and time:</label>
          <input type="datetime-local" id="customDeadlineInput" name="input" ng-model="customDate"
            min={{minCustomDate}} max="2020-12-31T00:00:00" step="900" required />
          <div role="alert" style="color:red">
            <span class="error" ng-show="myForm.input.$error.required">
              Required!</span>
            <span class="error" ng-show="myForm.input.$error.datetimelocal">
              Not a valid date!</span>
          </div>
          <p><input type="submit" ng-disabled="myForm.input.$invalid"></p>
        </form>
      </div>
    </div>
    <!-- Availability -->
    <div class="availability modal" ng-if="availabilityModalFlag">
      <div class="top row" ng-click="toggleAvailabilityModal()">
          <span>Availability</span>
          <div class="availability item">{{scheduleNames.availability}}</div>
      </div><div class="spacer"></div>
      <!-- Defaults -->
      <div class="bottom row" ng-if="!customAvailabilityFlag">
          <div class="availability item" ng-click="setAvailability.anytime()">Anytime</div>
          <div class="availability item" ng-click="setAvailability.earlyBird()">Early Bird</div>
          <div class="availability item" ng-click="setAvailability.mornings()">Mornings</div>
          <div class="availability item" ng-click="setAvailability.daytime()">Daytime</div>
          <div class="availability item" ng-click="setAvailability.afternoon()">Afternoon</div>
          <div class="availability item" ng-click="setAvailability.evenings()">Evenings</div>
          <div class="availability item" ng-click="setAvailability._24x7()">24x7</div>
          <div class="availability item" ng-click="openCustomAvailability()">Custom</div>
      </div>
      <!-- Custom -->
      <div class="custom row" ng-if="customAvailabilityFlag">
        <form name="custAvailabilityForm" ng-submit="setCustomAvailability()">
          <span ng-click="toggleDays()">Days: </span>
          <div class="day checkbox items">
            S<input type="checkbox" name="sunday" ng-model="customAvailabilityDays[0]">
            M<input type="checkbox" name="monday" ng-model="customAvailabilityDays[1]">
            T<input type="checkbox" name="tuesday" ng-model="customAvailabilityDays[2]">
            W<input type="checkbox" name="wednesday" ng-model="customAvailabilityDays[3]">
            T<input type="checkbox" name="thursday" ng-model="customAvailabilityDays[4]">
            F<input type="checkbox" name="friday" ng-model="customAvailabilityDays[5]">
            S<input type="checkbox" name="saturday" ng-model="customAvailabilityDays[6]">
          </div><br/>
          <span ng-click="toggleHours(0,24)">Hours: </span>
          <div class="hour checkbox items">
            <div class="am">
              <span ng-click="toggleHours(0,12)">AM</span>
              <div class="labels">
                <span ng-click="toggleHours(0,6)">12-5</span>
                <span ng-click="toggleHours(6,12)">6-11</span>
              </div>
              <div class="checkboxes">
                <input type="checkbox" ng-model="customAvailabilityHours[0]">
                <input type="checkbox" ng-model="customAvailabilityHours[1]">
                <input type="checkbox" ng-model="customAvailabilityHours[2]">
                <input type="checkbox" ng-model="customAvailabilityHours[3]">
                <input type="checkbox" ng-model="customAvailabilityHours[4]">
                <input type="checkbox" ng-model="customAvailabilityHours[5]"><br/>
                <input type="checkbox" ng-model="customAvailabilityHours[6]">
                <input type="checkbox" ng-model="customAvailabilityHours[7]">
                <input type="checkbox" ng-model="customAvailabilityHours[8]">
                <input type="checkbox" ng-model="customAvailabilityHours[9]">
                <input type="checkbox" ng-model="customAvailabilityHours[10]">
                <input type="checkbox" ng-model="customAvailabilityHours[11]">
              </div>
            </div>
            <div class="pm">
              <span ng-click="toggleHours(12,24)">PM</span>
              <div class="labels">
                <span ng-click="toggleHours(12,18)">12-5</span>
                <span ng-click="toggleHours(18,24)">6-11</span>
              </div>
              <div class="checkboxes">
                <input type="checkbox" ng-model="customAvailabilityHours[12]">
                <input type="checkbox" ng-model="customAvailabilityHours[13]">
                <input type="checkbox" ng-model="customAvailabilityHours[14]">
                <input type="checkbox" ng-model="customAvailabilityHours[15]">
                <input type="checkbox" ng-model="customAvailabilityHours[16]">
                <input type="checkbox" ng-model="customAvailabilityHours[17]"><br/>
                <input type="checkbox" ng-model="customAvailabilityHours[18]">
                <input type="checkbox" ng-model="customAvailabilityHours[19]">
                <input type="checkbox" ng-model="customAvailabilityHours[20]">
                <input type="checkbox" ng-model="customAvailabilityHours[21]">
                <input type="checkbox" ng-model="customAvailabilityHours[22]">
                <input type="checkbox" ng-model="customAvailabilityHours[23]">
              </div>
            </div>
          </div>
          <p><input type="submit"></p>
        </form>
      </div>
    </div>

    <!--_________________________________________________-->

    <!-- ITEM ROWS -->
    <div class="top row" ng-click="toggleDurationModal()">
      <span>Duration</span>
      <div class="duration item">{{scheduleNames.duration}}</div>
    </div>
    <div class="spacer"></div>
    <div class="top row" ng-click="toggleStartTimeModal()">
      <span>Start Time</span>
      <div class="startTime item">{{scheduleNames.startTime}}</div>
    </div>
    <div class="spacer"></div>
    <div class="top row" ng-class="{disabled: !schedule.startTime.moment}" ng-click="toggleDeadlineModal('softDeadline')">
      <span>Soft Deadline</span>
      <div class="softDeadline item">{{scheduleNames.softDeadline}}</div>
    </div>
    <div class="spacer"></div>
    <div class="top row" ng-class="{disabled: !schedule.startTime.moment}" ng-click="toggleDeadlineModal('hardDeadline')">
      <span>Hard Deadline</span>
      <div class="hardDeadline item">{{scheduleNames.hardDeadline}}</div>
    </div>
    <div class="spacer"></div>
    <div class="last top row" ng-click="toggleAvailabilityModal()">
      <span>Availability</span>
      <div class="availability item">{{scheduleNames.availability}}</div>
    </div>
    <div class="spacer"></div>
    <div id="qsSaveButton">
      <div class="item" ng-click="quickSchedule()">Save</div>
    </div>
  </div>
</div>
