<div class="day container" ng-class="{noScroll: optionFlag}">
  <!-- Spacers -->
  <div class="spacer2" ng-if="monthFlag"></div>
  <!-- Date icon in the top left corner -->
  <div id="date" ng-class="{inactive: month.moment.isBefore(moment(), 'day'), selected: month.moment.isSame(moment(), 'day'), spacer: monthFlag}">
    <div>{{ month.moment.format("ddd") }}</div>
    <div>{{ month.moment.date() }}</div>
  </div>
  <!-- Left column containing the hours of the day -->
  <div class="hour column">
    <div ng-repeat="hour in month.hours track by $index" id="{{month.moment.hour($index).format('ha')}}" ng-class="{inactive: !month.hours[$index]}">{{month.moment.hour($index).format("h A")}}</div>
  </div>
  <!-- Right Column containing the events  -->
  <div class="event column">
    <svg height="8" width="105%" style="top: {{currentMinute}}" ng-if="now.isSame(month.moment, 'day')" class="currentTime">
      <circle cx="4" cy="4" r="2.5"/>
      <line x1="4" y1="4" x2="100%" y2="4" style="stroke-width:1"/>
    </svg>
    <!-- Task List (absolute) -->
    <div ng-repeat="task in tasks | filter: {schedule:{startTime:{moment: month.moment.format('YYYY-MM-DD')}}} : compare"
         ng-if="task.schedule.duration"
         ng-click="toggleEditItemPane(task)"
         style="top: {{task.schedule.startTime.top}}px; height: {{task.schedule.duration}}px; background-color: {{task.color}}"
         class="day calendarItem">
         {{task.name}}
    </div>
    <hr>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
  </div>
</div>
