<div class="calendar">
  <div class="calendarHead">
      <i class="material-icons md-dark" ng-click="month.rebuild(month.moment.subtract(1, 'month'))">chevron_left</i>
      <b>{{ month.name }}</b>
      <i class="material-icons md-dark" ng-click="month.rebuild(month.moment.add(1, 'month'))">chevron_right</i>
  </div>
  <div class="row" ui-sref="calendar.week">
      <span class="col7">S</span>
      <span class="col7">M</span>
      <span class="col7">T</span>
      <span class="col7">W</span>
      <span class="col7">T</span>
      <span class="col7">F</span>
      <span class="col7">S</span>
  </div>
  <div class="row" ng-repeat="week in month.weeks">
      <div class="col7" ng-class="{disabled: day.format('MMMM') !== month.name}" ng-repeat="day in week">
        <div ng-click="month.rebuild(day);clear()" ng-class="{selected: day.isSame(month.moment, 'day'), today: day.isSame(now, 'day')}">{{day.date()}}</div>
      </div>
  </div>
</div>
<section class="calendar" ng-click="toggleMonth()" ng-if="monthFlag && !optionFlag"></section>
