<fade ng-if="optionFlag" ng-click="clear()"></fade>
<option-pane ng-if="optionFlag"></option-pane>

<!-- <div class="spacer1" ng-if="monthFlag"></div> test-->
<nav class="calHeader">
  <div class="left">
    <i ng-click="toggleOption()" class="material-icons md-dark md-36">menu</i>
    <span ui-sref="calendar.month">
      {{month.name}}
    </span>
    <i ng-if="!monthFlag" ng-click="toggleMonth()" class="material-icons md-dark md-36">arrow_drop_down</i>
    <i ng-if="monthFlag" ng-click="toggleMonth()" class="material-icons md-dark md-36">arrow_drop_up</i>
  </div>
  <div class="right">
    <i ui-sref="list.star" class="material-icons md-dark md-24" style="border-right: 2px solid black">list</i>
    <i class="material-icons md-dark md-24"></i>
    <i ng-click="month.rebuild()" class="material-icons md-dark md-24">today</i>
  </div>
</nav>

<calendar class="header" ng-if="monthFlag"></calendar>
