<div class="edit-item-pane container">

  <!-- ***** HEADER ***** -->
    <div class="edit-item-pane header">
      <!-- 1ST ROW - TOP LAYER: Title -->
      <div class="title row">
        <!-- Column 1 of 2 - 'close icon' and 'title' -->
        <div class="title column">
          <!-- close icon -->
          <div ng-click="toggleEditItemPane()">
            <i class="material-icons">close</i>
          </div>
          <!-- title -->
          <div>{{tasks[editPaneIndx].name}}</div>
        </div>
        <!-- Column 2 of 2 - save link -->
        <div class="title column">
          <button ng-click="saveTask(editPaneIndx); toggleEditItemPane()" ng-disabled="editItemForm.$invalid" form="editItemForm">SAVE</button>
        </div>
      </div>
    </div>

  <!-- ***** BODY ***** -->
    <div class="edit-item-pane body">
      <form id="editItemForm" name="editItemForm" novalidate>
        <div class="form row">
          <span class="label">Name:</span>
          <input id="name" name="name" type="text" ng-model="tasks[editPaneIndx].name" autocomplete="off" autofocus required />
        </div>
        <div class="schedule form row">
          <div class="title row">
            <span class="label" ng-click="toggleTempSchedule()">Schedule
              <i class="material-icons" ng-if="!tempScheduleFlag">arrow_drop_down</i>
              <i class="material-icons" ng-if="tempScheduleFlag">arrow_drop_up</i>
            </span>
            <button ng-if="tempScheduleFlag" ng-click="editSchedule()">EDIT</button>
          </div>
          <div class="tempSchedule" ng-if="tempScheduleFlag" ng-click="toggleTempSchedule()">
            <div class="column">
              <span>Duration:</span>
              <span>Starts:</span>
              <span>Scheduled For:</span>
              <span>Soft Deadline:</span>
              <span>Hard Deadline:</span>
            </div>
            <div class="column">
              <span>{{tasks[editPaneIndx].scheduleNames.duration}}</span>
              <span>{{tasks[editPaneIndx].scheduleNames.startTime}}</span>
              <span>{{tasks[editPaneIndx].scheduleNames.startTime}}</span>
              <span>{{tasks[editPaneIndx].scheduleNames.softDeadline}}</span>
              <span>{{tasks[editPaneIndx].scheduleNames.hardDeadline}}</span>
            </div>
          </div>
        </div>
      </form>
    </div>

</div>

<!-- Overlaid option panes -->
<!-- <quick-scheduler ng-if="quickSchedulerFlag"></quick-scheduler> -->
