<div class="new-item-pane container">
  <!-- ***** HEADER ***** -->
    <div class="new-item-pane header">
      <!-- 1ST ROW - TOP LAYER: Title -->
      <div class="title row">
        <!-- Column 1 of 2 - 'close icon' and 'title' -->
        <div class="title column">
          <!-- close icon -->
          <div ng-click="toggleNewItemPane()">
            <i class="material-icons">close</i>
          </div>
          <!-- title -->
          <div>{{newItem.name}}</div>
        </div>
        <!-- Column 2 of 2 - save link -->
        <div class="title column">
          <button ng-click="toggleNewItemPane(); saveNew()" ng-disabled="newItemForm.$invalid" form="newItemForm">SAVE</button>
        </div>
      </div>
    </div>

  <!-- ***** BODY ***** -->
    <div class="new-item-pane body">
      <form id="newItemForm" name="newItemForm" novalidate>
        <div class="form row">
          <label for="name">Name:</label>
          <input id="name" name="name" type="text" ng-model="newItem.name" autocomplete="off" autofocus required />
        </div>
      </form>
    </div>
</div>
