<div class="row item">
  <div class="col item" ng-click="toggleEdit($index)">
    <svg width="3em" height="3em">
      <circle cx="1.5em" cy="1.5em" r=".75em" fill="white"/>
      <circle cx="1.5em" cy="1.5em" r=".5em" fill="rgb(50,200,50)" ng-if="!task.status.editable && task.status.completed" />
      <line x1="1.2em" x2="1.4em" y1="1.5em" y2="1.7em" style="stroke:white;stroke-width:2" ng-if="!task.status.editable && task.status.completed" />
      <line x1="1.4em" x2="1.8em" y1="1.7em" y2="1.3em" style="stroke:white;stroke-width:2" ng-if="!task.status.editable && task.status.completed" />
      <circle cx="1.5em" cy="1.5em" r=".5em" fill="rgba(0,120,255,1)" ng-if="task.status.editable" />
    </svg>
  </div>
  <div class="col item">
    <form ng-submit="saveTask(task)">
      <input type="text" ng-model="task.name" ng-if="!task.status.editable" ng-click="toggleEditItemPane(task)" readonly>
      <input type="text" ng-model="task.name" ng-if="task.status.editable">
    </form>
  </div>
  <div class="col item icon" ng-if="task.status.starred">
    <i style="color:rgb(241,196,15)" class="material-icons" ng-click="toggleStarred()">star</i>
  </div>
  <div class="col item icon" ng-if="task.status.editable">
    <i class="material-icons"  ng-click="toggleEditItemPane(task)">info_outline</i>
  </div>
</div>
