<option-pane ng-if="optionFlag" toggle="toggleOption" month="month"></option-pane>

<nav class="calHeader">
  <div class="left">
    <i ng-click="toggleOption()" class="material-icons md-dark md-36">menu</i>
    <span ng-if="view !== 'month'" ng-click="toggleMonth()">
      {{month.name}}
      <i ng-if="!monthFlag" class="material-icons md-dark md-36">arrow_drop_down</i>
      <i ng-if="monthFlag" class="material-icons md-dark md-36">arrow_drop_up</i>
    </span>
    <span ng-if="view === 'month'">{{month.name}}</span>
  </div>
  <div class="right">
    <i ng-if="icon === 'eye' && eyeFlag" ng-click="toggleEye()" class="material-icons md-dark md-24" style="border-right: 2px solid black">visibility</i>
    <i ng-if="icon === 'eye' && !eyeFlag" ng-click="toggleEye()" class="material-icons md-dark md-24" style="border-right: 2px solid black">visibility_off</i>
    <i ng-if="icon === 'list'" class="material-icons md-dark md-24" style="border-right: 2px solid black">list</i>
    <i class="material-icons md-dark md-24"></i>
    <i class="material-icons md-dark md-24">today</i>
  </div>
</nav>

<calendar ng-if="monthFlag" month="month"></calendar>
