<div class="list container">
  <div class="list header">
    <!-- 1ST ROW - BOTTOM LAYER: Icons -->
    <div class="icon row" ng-if="editableItems > 0">
      <div class="icon column">
        <div ng-click="toggleEditOff()">
          <i class="material-icons">arrow_back</i>
        </div>
      </div>
      <div class="icon column">
        <i class="material-icons">group_work</i>
        <!-- <i class="material-icons" ng-click="toggleCompleted()">link</i> -->
        <i class="material-icons">linear_scale</i>
        <!-- <i class="material-icons" ng-click="toggleCompleted()">place</i> -->
        <i class="material-icons" ng-click="deleteTask()">info</i>
        <i class="material-icons">group_add</i>
        <!-- <i class="material-icons" ng-click="toggleCompleted()">supervisor_account</i> -->
        <!-- <i class="material-icons" ng-click="toggleCompleted()">person_pin</i> -->
        <i class="material-icons" ng-click="toggleActive()">schedule</i>
        <i style="color:rgb(241,196,15)" class="material-icons" ng-click="toggleStarred()">star</i>
        <i class="material-icons">more_vert</i>
        <!-- <i class="material-icons" ng-click="toggleCompleted()">check</i> -->
        <i style="color:rgb(50,200,50); font-size:1.1em; margin-right:0; margin-left:-.2em" class="material-icons" ng-click="toggleCompleted()">check_circle</i>
        <!-- <div style="border: 1px solid black; border-radius:50%; background-color:rgba(0,255,0,.25); color:black;">
          <i style="margin:.25em" class="material-icons" ng-click="toggleCompleted()">check</i>
        </div> -->
      </div>
    </div>
    <!-- 1ST ROW - TOP LAYER: Title -->
    <div class="title row" ng-if="editableItems === 0">
      <div class="title column">
        <div ui-sref="{{priorView}}">
          <i class="material-icons">close</i>
        </div>
        <div>{{title}}</div>
      </div>
      <div ui-sref="list.search" class="title column">
        <i class="material-icons">search</i>
      </div>
    </div>
    <!-- 2ND ROW: Tabs -->
    <div class="row tabs">
        <div ui-sref="list.star" class="tab column star">
          <i class="material-icons md-24 md-dark">star_border</i>
        </div>
        <div ui-sref="list.active" class="tab column active">Active</div>
        <div ui-sref="list.pending" class="tab column pending">Pending</div>
        <div ui-sref="list.inactive" class="tab column inactive">Inactive</div>
        <div ui-sref="list.completed" class="tab column completed">Completed</div>
    </div>
  </div>
</div>
