$light = rgb(245,245,245)
$shadow = 0 1px 10px #515151


main.Scheduler
    flex-direction: column;

    div.body
        flex-direction column
        width 350px
        max-width 100%
        padding 10px
        border-radius 10px
        background $light
        box-shadow $shadow


    div.row
        flex-direction column
        align-items center
        margin-bottom 10px
        box-shadow 0 6px 6px -5px rgba(100,100,100,.5)
        &.disabled
            color rgba(0,0,0,.3)
        span
            font-size small
            margin-bottom -7.8px
        div.value
            align-items center
            height 48px
            font-size 32px
        &:first-of-type
            margin-top 10px
        &:last-of-type
            box-shadow none

    div.modal
        position absolute
        z-index 50
        top 16px
        bottom 10px
        left 1px
        right 1px
        display flex
        flex-direction column
        background-color lightish(.85)
        div.spacer
            width 100%
        div.bottom
            center(vert, h)
            flex-wrap wrap
            flex-grow 1
            div.item
                center(vert, h)
                height 40px
                width 44%
                box-sizing border-box
                padding 4.8px
                border-radius 8px
                background-color $light
                box-shadow $shadow
                text-align center
        div.custom
            padding 0 10px
            form
                display flex
                flex-direction column
                input
                    font-size 16px
                div.hour.checkbox.items
                    span
                        cursor pointer
                    div.am, div.pm
                        center(vert)
                        &>span
                            width 10%
                        div.labels
                            center(vert)
                            flex-direction column
                            margin 0 10px

    footer
        align-items: center;
        justify-content: center;
        height 75px

        div.save_button
            font-weight bold
            align-items: center;
            justify-content: center;
            padding 10px 30px
            border-radius .8px
            background-color $light
            box-shadow $shadow
